* {
  margin: 0;
}
/* .background {
  margin: 3 rem;
  background-color: rgba(0, 0, 0, 0.63);
} */

body {
  background-image: url(./background_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 30rem;
  background-position: center center;
}
div.bg {
  margin: 3rem;
  height: 95vh;
  background-color: rgba(0, 0, 0, 0.473);
}
header {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin: 3rem;
}
h1.net {
  color: white;
  letter-spacing: 4px;
}
h1 span.flix {
  color: red;
  letter-spacing: 4px;
}

div header p {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 4px;
}
div.formarea {
  margin: auto;
  font-size: 1.5rem;
}

form {
  margin: auto;
  color: white;
  box-sizing: border-box;
  width: 30rem;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.774);
  margin: auto;
}

.div1 input {
  width: 26rem;
  height: 2rem;
}
.div1 select {
  width: 26rem;
  height: 2rem;
}

#content {
  width: 26rem;
}

textarea {
  width: 26rem;
}

.div5 {
  text-align: center;
  font-size: 2rem;
}
.div5 input {
  background-color: red;
  color: white;
  border-radius: 10px;
  border: none;
  width: 5rem;
  cursor: pointer;
}
